<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <meta
    name="description"
    content="RESTful API pour notre travail de fin d'année"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>API Projet tutoré | <%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/docs.css" />
</head>
