<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Docs' }) %>
  <body>
    <nav>
        <h1>API Docs</h1>
        <ul>
            <li></li>
        </ul>
    </nav>
  </body>
</html>
