<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Docs' }) %>
  <body>
    <nav>
      <h1>SecurityApp | API Docs</h1>
      <hr />
      <ul>
        <a href="#"><li>Authentification</li></a>
        <a href="#"><li>Documentation</li></a>
        <a href="#"><li>A propos</li></a>
      </ul>
    </nav>
  </body>
</html>
