<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Accueil' }) %>
  <body>
    <div class="body">
      <div class="container">
      <h1>Bienvenue sur l'API</h1>
      <div>
        <small>Ici sera conçu la documentation de notre API</small><br />
        <small>Tout les endpoints seront renseignés et decrit ici</small>
      </div>
      <a href="/docs" class="btn">Take a tour</a>
    </div>
    </div>
    
  </body>
</html>
