<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Projet tutoré | Info</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Bienvenue sur l'API</h1>
      <div>
        <small>Ici sera conçu la documentation de notre API</small><br />
        <small>Tout les endpoints seront renseignés et decrit ici</small>
      </div>
      <button class="btn">Take a tour</button>
    </div>
  </body>
</html>
