<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Accueil' }) %>
  <body>
    <div class="container">
      <h1>Bienvenue sur l'API</h1>
      <div>
        <small>Ici sera conçu la documentation de notre API</small><br />
        <small>Tout les endpoints seront renseignés et decrit ici</small>
      </div>
      <button class="btn">Take a tour</button>
    </div>
  </body>
</html>
