<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Not Found' }) %>
  <body>
    <div class="container">
      <h1>404 - Page non trouvée</h1>
      <div>
        <small>Oups, la page que vous recherchez n'existe pas !</small><br />
        <small>Consultez la documentation</small>
      </div>
      <a href="/" class="btn">Retour à l'accueil</a>
    </div>
  </body>
</html>
