nav {
  background-color: #fff;
  width: 20rem;
  height: 100vh;
  padding: 1rem;
}
nav h1 {
  margin-bottom: 1rem;
  color: #007bff;
}
hr {
  background-color: #007bff;
  padding: 2px;
  outline: none;
  border: none;
}
nav ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}
nav ul a {
  text-decoration: none;
  color: #000;
  font-size: 1.13rem;
  padding: 0.8rem 0.5rem;
}
nav ul a:hover {
  background-color: #007bff;
  color: #fff;
}
