.sidebar {
  flex: 1;
  border-right: 0.5px solid #e6e3e3;
  min-height: 100vh;
  background-color: #fff;

  .top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      font-size: 20px;
      font-weight: 600;
      color: #ad0000;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid #e6e3e3;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #e9e9e9;
        }

        .icon {
          font-size: 20px;
          color: #ad0000;
        }

        span{
            font-size: 14px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
        }
      }
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #ad0000;
        cursor: pointer;
        margin: 5px;

        &:nth-child(1){
            background-color: whitesmoke;
        }
        &:nth-child(2){
            background-color: #333;
        }
    }
  }
}
