.loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;

  .loginForm {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .erreur {
      text-align: center;
      background-color: #ffa9a9d0;
      color: #b10000;
      padding: 15px;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      button {
        padding: 15px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #f0f0f0;
        font-size: 15px;
      }

      .password-container {
        position: relative;
        width: 100%; // occupe toute la largeur dispo

        input {
          width: 100%;
          box-sizing: border-box; // empêche le débordement
          padding-right: 40px; // espace réservé pour l’icône
        }

        .toggle-password {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          font-size: 18px;
          color: #666;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #ad0000;
          }
        }
      }

      button {
        background-color: #ad0000;
        color: #fff;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: #750000;
        }

        &:active {
          transform: scale(0.93);
        }
      }
    }

    .forget a {
      text-decoration: none;
      color: #ad0000;
    }
  }
}
